In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm


from PIL import Image, ImageDraw
import glob
import os
import matplotlib.pyplot as plt
import math 
from math import atan,degrees,sqrt

import scipy.misc as smp
from scipy.misc import imsave

import json
from datetime import datetime

from operator import add
import re

import gmplot
from shapely import geometry

from scipy.optimize import curve_fit
from scipy.integrate import quad

from GeoLibrary import *

In [2]:
temp_16_df = pd.read_csv("temp_16_proserpine.csv")
temp_16_df

     Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
0   31.7  35.0  33.6  31.0  30.3  28.3  27.0  25.6  26.9  31.1  32.9  35.6
1   32.0  35.3  31.6  31.5  30.1  26.4  23.9  28.6  28.4  31.9  34.4  37.9
2   31.5  35.5  29.6  31.0  30.6  27.5  23.7  24.5  26.4  31.6  32.4  36.2
3   34.0  31.6  25.8  30.7  31.3  26.8  25.1  22.8  26.1  27.8  27.5  35.0
4   35.4  32.8  26.2  30.6  28.8  24.3  29.1  23.1  25.1  29.2  32.3  33.7
5   36.1  30.5  27.5  31.2  28.2  26.6  23.6  24.3  25.8  28.3  35.4  33.9
6   34.2  32.5  30.0  30.0  28.1  28.9  21.9  24.2  23.8  28.5  35.5  34.8
7   32.5  30.4  28.9  30.2  28.7  28.4  23.6  24.8  23.3  29.1  33.5  34.3
8   30.0  31.1  30.0  31.2  29.2  29.8  23.7  24.9  27.2  30.8  33.6  35.4
9   30.9  30.8  30.1  31.1  31.5  30.5  24.9  25.6  26.6  29.9  35.7  33.0
10  31.2  30.5  30.4  31.0  27.0  27.6  26.3  26.2  27.3  35.6  37.3  32.7
11  31.1  30.9  30.8  31.5  26.9  25.9  26.8  24.7  27.0  30.1  37.6  29.7
12  31.9  31.7  30.9  30.0  27.2  22.9  26.8  25.1  28.4  31.0  36.7  30.8
13  31.6  33.2  30.8  24.9  27.5  25.6  18.9  25.3  28.1  27.9  37.0  31.5
14  32.7  35.0  29.8  28.4  27.6  25.2  18.1  22.8  29.8  27.6  32.0  32.9
15  32.3  35.4  29.1  28.3  28.1  25.0  22.7  23.0  27.2  28.7  30.8  31.6
16  29.9  37.5  28.7  27.6  28.4  25.7  23.5  25.2  28.6  30.1  30.8  32.7
17  29.1  34.9  30.4  29.0  28.3  26.7   NaN  24.7  30.2  32.0  30.7  33.2
18  30.7  35.1  31.8  28.8  28.7  21.0  25.8  22.1  31.2  31.2  31.2  32.2
19  31.1  33.9  31.8  29.3  28.0  24.3  25.9  25.5  29.8  30.6  31.1  32.1
20  31.1  31.8  31.7  29.1  27.9  23.5  25.5  25.9  29.2  29.3  28.6  33.0
21  31.6  31.4  30.8  29.1  28.2  28.9  26.4  26.2  31.0  30.2  30.9  32.1
22  33.2  30.2  31.0  29.3  26.9  28.0  28.5  27.7  29.5  30.5  34.0  30.1
23  33.7  30.5  30.9  29.0  28.4  31.6  29.6  30.3  31.4  26.0  35.7  30.8
24  34.3  31.0  30.5  28.0  28.1  23.3  26.6  21.8  31.7  29.0  33.2  32.5
25  34.1  33.2  30.4  28.6  29.8  23.6  24.9  23.1  31.4  29.2  32.5  32.0
26  33.4  34.5  30.4  27.9  31.9  28.4  26.6  21.9  33.1  29.6  32.5  31.5
27  34.0  33.2  30.8  28.7  30.4  21.0  23.7  23.1  29.4  30.0  31.9  31.3
28  34.2  33.6  31.0  28.5  27.9  21.8  24.2  25.6  27.2  30.0  32.6  31.4
29  34.5   NaN  31.1  29.2  27.7  25.0  24.6  25.5  32.2  30.4  35.4  32.4
30  35.0   NaN  31.2   NaN  27.9   NaN  24.8  26.7   NaN  32.0   NaN  32.5

In [3]:

for c in temp_16_df.columns:
    temp_16_df.fillna((temp_16_df[c].mean()), inplace=True)

temp_16_df

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,31.7,35.000000,33.6,31.000000,30.3,28.300000,27.000000,25.6,26.900000,31.1,32.900000,35.6
1,32.0,35.300000,31.6,31.500000,30.1,26.400000,23.900000,28.6,28.400000,31.9,34.400000,37.9
2,31.5,35.500000,29.6,31.000000,30.6,27.500000,23.700000,24.5,26.400000,31.6,32.400000,36.2
3,34.0,31.600000,25.8,30.700000,31.3,26.800000,25.100000,22.8,26.100000,27.8,27.500000,35.0
4,35.4,32.800000,26.2,30.600000,28.8,24.300000,29.100000,23.1,25.100000,29.2,32.300000,33.7
5,36.1,30.500000,27.5,31.200000,28.2,26.600000,23.600000,24.3,25.800000,28.3,35.400000,33.9
6,34.2,32.500000,30.0,30.000000,28.1,28.900000,21.900000,24.2,23.800000,28.5,35.500000,34.8
7,32.5,30.400000,28.9,30.200000,28.7,28.400000,23.600000,24.8,23.300000,29.1,33.500000,34.3
8,30.0,31.100000,30.0,31.200000,29.2,29.800000,23.700000,24.9,27.200000,30.8,33.600000,35.4
9,30.9,30.800000,30.1,31.100000,31.5,30.500000,24.900000,25.6,26.600000,29.9,35.700000,33.0
10,31.2,30.500000,30.4,31.000000,27.0,27.600000,26.300000,26.2,27.300000,35.6,37.300000,32.7
11,31.1,30.900000,30.8,31.500000,26.9,25.900000,26.800000,24.7,27.000000,30.1,37.600000,29.7
12,31.9,31.700000,30.9,30.000000,27.2,22.900000,26.800000,25.1,28.400000,31.0,36.700000,30.8
13,31.6,33.200000,30.8,24.900000,27.5,25.600000,18.900000,25.3,28.100000,27.9,37.000000,31.5
14,32.7,35.000000,29.8,28.400000,27.6,25.200000,18.100000,22.8,29.800000,27.6,32.000000,32.9
15,32.3,35.400000,29.1,28.300000,28.1,25.000000,22.700000,23.0,27.200000,28.7,30.800000,31.6
16,29.9,37.500000,28.7,27.600000,28.4,25.700000,23.500000,25.2,28.600000,30.1,30.800000,32.7
17,29.1,34.900000,30.4,29.000000,28.3,26.700000,32.548387,24.7,30.200000,32.0,30.700000,33.2
18,30.7,35.100000,31.8,28.800000,28.7,21.000000,25.800000,22.1,31.200000,31.2,31.200000,32.2
19,31.1,33.900000,31.8,29.300000,28.0,24.300000,25.900000,25.5,29.800000,30.6,31.100000,32.1
20,31.1,31.800000,31.7,29.100000,27.9,23.500000,25.500000,25.9,29.200000,29.3,28.600000,33.0
21,31.6,31.400000,30.8,29.100000,28.2,28.900000,26.400000,26.2,31.000000,30.2,30.900000,32.1
22,33.2,30.200000,31.0,29.300000,26.9,28.000000,28.500000,27.7,29.500000,30.5,34.000000,30.1
23,33.7,30.500000,30.9,29.000000,28.4,31.600000,29.600000,30.3,31.400000,26.0,35.700000,30.8
24,34.3,31.000000,30.5,28.000000,28.1,23.300000,26.600000,21.8,31.700000,29.0,33.200000,32.5
25,34.1,33.200000,30.4,28.600000,29.8,23.600000,24.900000,23.1,31.400000,29.2,32.500000,32.0
26,33.4,34.500000,30.4,27.900000,31.9,28.400000,26.600000,21.9,33.100000,29.6,32.500000,31.5
27,34.0,33.200000,30.8,28.700000,30.4,21.000000,23.700000,23.1,29.400000,30.0,31.900000,31.3
28,34.2,33.600000,31.0,28.500000,27.9,21.800000,24.200000,25.6,27.200000,30.0,32.600000,31.4
29,34.5,32.548387,31.1,29.200000,27.7,25.000000,24.600000,25.5,32.200000,30.4,35.400000,32.4
30,35.0,32.548387,31.2,32.548387,27.9,32.548387,24.800000,26.7,32.548387,32.0,32.548387,32.5

In [4]:
# all_year_temp = temp_16_df["Jan"].values.tolist() + \
# temp_16_df["Feb"].values.tolist()[:-2] + \
# temp_16_df["Mar"].values.tolist() + \
# temp_16_df["Apr"].values.tolist()[:-1] + \
# temp_16_df["May"].values.tolist() + \
# temp_16_df["Jun"].values.tolist()[:-1] + \
# temp_16_df["Jul"].values.tolist() + \
# temp_16_df["Aug"].values.tolist() + \
# temp_16_df["Sep"].values.tolist()[:-1] + \
# temp_16_df["Oct"].values.tolist() + \
# temp_16_df["Nov"].values.tolist()[:-1] + \
# temp_16_df["Dec"].values.tolist()

In [7]:
temp_17_df = pd.read_csv("temp_17_proserpine.csv")
for c in temp_17_df.columns:
    temp_17_df.fillna((temp_17_df[c].mean()), inplace=True)


temp_18_df = pd.read_csv("temp_18_proserpine.csv")
for c in temp_18_df.columns:
    temp_18_df.fillna((temp_18_df[c].mean()), inplace=True)


temp_19_df = pd.read_csv("temp_19_proserpine.csv")
for c in temp_19_df.columns:
    temp_19_df.fillna((temp_19_df[c].mean()), inplace=True)

In [8]:
with open("../servercodes/T55KFT_mean_ndvi_total_2.json", "r") as fp:
    ndvi_dict = json.load(fp)

date_list = ndvi_dict["date_list"]

In [19]:
d_list = date_list[27:]

In [21]:
temp_list = []
for d in tqdm(d_list):
    do = datetime.strptime(d, "%Y-%m-%d")
    mon = do.strftime("%b")
    day = do.day
    year = do.year
    if year == 2016:
        temp = temp_16_df[mon].values.tolist()[day-1]
    elif year == 2017:
        temp = temp_17_df[mon].values.tolist()[day-1]
    elif year == 2018:
        temp = temp_18_df[mon].values.tolist()[day-1]
    elif year == 2019:
        temp = temp_19_df[mon].values.tolist()[day-1]
#     print(type(do.year))
    temp_list.append(temp)

HBox(children=(IntProgress(value=0, max=170), HTML(value='')))

In [22]:
# same with rainfall
rainfall_16_df = pd.read_csv("rainfall_16_proserpine.csv")
for c in rainfall_16_df.columns:
    rainfall_16_df.fillna((rainfall_16_df[c].mean()), inplace=True)

rainfall_17_df = pd.read_csv("rainfall_17_proserpine.csv")
for c in rainfall_17_df.columns:
    rainfall_17_df.fillna((rainfall_17_df[c].mean()), inplace=True)


rainfall_18_df = pd.read_csv("rainfall_18_proserpine.csv")
for c in rainfall_18_df.columns:
    rainfall_18_df.fillna((rainfall_18_df[c].mean()), inplace=True)


rainfall_19_df = pd.read_csv("rainfall_19_proserpine.csv")
for c in rainfall_19_df.columns:
    rainfall_19_df.fillna((rainfall_19_df[c].mean()), inplace=True)

In [23]:
rainfall_list = []
for d in tqdm(d_list):
    do = datetime.strptime(d, "%Y-%m-%d")
    mon = do.strftime("%b")
    day = do.day
    year = do.year
    if year == 2016:
        rainfall = rainfall_16_df[mon].values.tolist()[day-1]
    elif year == 2017:
        rainfall = rainfall_17_df[mon].values.tolist()[day-1]
    elif year == 2018:
        rainfall = rainfall_18_df[mon].values.tolist()[day-1]
    elif year == 2019:
        rainfall = rainfall_19_df[mon].values.tolist()[day-1]
#     print(type(do.year))
    rainfall_list.append(rainfall)

HBox(children=(IntProgress(value=0, max=170), HTML(value='')))

In [24]:
total_train_df = pd.read_csv("../servercodes/timeseries_traindf.csv")

total_train_df["temp"] = temp_list
total_train_df["rainfall"] = rainfall_list

total_train_df.head()

,timestamp,deltaT,mean_red_list,mean_green_list,mean_blue_list,mean_nir,mean_swir,mean_ndvi,temp,rainfall
0,1.482365e+09,0.0,503.880343,578.340118,362.212201,2293.081819,1857.359534,0.506508,32.1,0.0
1,1.483229e+09,864000.0,521.856106,611.815158,390.154601,2333.073614,1858.046619,0.498802,33.5,4.0
2,1.484093e+09,864000.0,496.645995,596.057661,372.699931,2333.884872,1783.302811,0.498219,30.8,22.6
3,1.485821e+09,1728000.0,464.077772,567.021628,342.535556,2361.285341,1726.784486,0.498560,30.1,90.8
4,1.487549e+09,1728000.0,431.684733,538.162458,312.545739,2388.860240,1670.441948,0.499630,33.1,0.4

In [37]:
is_drought_list = []
mean_ndvi_list = total_train_df["mean_ndvi"].values.tolist()
for i in list(range(len(temp_list))):
    temp = temp_list[i]
    rainfall = rainfall_list[i]
    
    if temp > 37 and rainfall <= 0.5:
        is_drought_list.append(1)
        print("drought", mean_ndvi_list[i])
    else:
        is_drought_list.append(0)

drought 0.3122646808624268
drought 0.31483393907547

In [38]:
total_train_df["drought"] = is_drought_list

In [39]:
total_train_df.head()

,timestamp,deltaT,mean_red_list,mean_green_list,mean_blue_list,mean_nir,mean_swir,mean_ndvi,temp,rainfall,drought
0,1.482365e+09,0.0,503.880343,578.340118,362.212201,2293.081819,1857.359534,0.506508,32.1,0.0,0
1,1.483229e+09,864000.0,521.856106,611.815158,390.154601,2333.073614,1858.046619,0.498802,33.5,4.0,0
2,1.484093e+09,864000.0,496.645995,596.057661,372.699931,2333.884872,1783.302811,0.498219,30.8,22.6,0
3,1.485821e+09,1728000.0,464.077772,567.021628,342.535556,2361.285341,1726.784486,0.498560,30.1,90.8,0
4,1.487549e+09,1728000.0,431.684733,538.162458,312.545739,2388.860240,1670.441948,0.499630,33.1,0.4,0

In [40]:
# total_train_df.to_csv("timeseries_traindf_with_drought.csv", index=False)